.preamble p {
  display: none;
  display: inline;
  display: inline-block;
  display: block;
}

img {
  width: 100%;
  height: auto;
}

.nik-demo-row {
  display: flex;
  gap: 20px;
  border: 3px dotted red;
}

.ash-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #666;
}

.ash-header-logo {
  max-width: 200px;
}

.ash-header-nav {
  display: flex;
  gap: 20px;
}

.dani-demo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dani-demo-logo {
  max-width: 125px;
}

.dani-demo-nav a {
  padding: 8px;
}

.dani-demo-nav a:not(:last-child) {
  border-right: 1px solid red;
}

.joseph-image-demo {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


.button {
  border-radius: 50px;
  color: white;
  background-color: blue;
  border: 0;
  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer;
}

.button:hover {
  background-color: darkblue;
}

.button:focus {
  outline: 3px solid darkblue;
}

.qj-demo-row {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.jade-section-background {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 60px;
  padding-right: 60px;
}

.jade-section-description {
 width: 50%;
}

.jade-section-image {
  width: 50%;
}

.light-gray-bg {
  background-color: #efefef;
}
